<section
  class="announcement-item"
  fxLayout="column"
  fxLayoutAlign="space-between space-between"
>
  <div fxLayout="column" fxLayoutGap="4px">
    <h1 class="title-XS">{{ announcement?.title }}</h1>
    <p class="body-S">{{ announcement?.description }}</p>
  </div>
  <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
    <p [title]="announcement?.date" class="title-XS-Medium">{{ announcement?.date }}</p>
    <div class="separator__circle"></div>
    <p [title]="announcement?.class" class="title-XS-Medium">{{ announcement?.class }}</p>
  </div>
</section>
