@import "src/assets/style/variables";

div:first-child {
  padding: 16px 20px;

  button {
    background-color: $blueGrey50;
    border-radius: 50%;
    @include widthHeight;

    mat-icon {
      color: $grey400;
      height: auto;
      width: auto;
      font-size: 11px;
    }
  }
}

@media (max-width: $mobile) {
  div:first-child {
    padding: 14px 16px;

    .title-M {
      @include titleBold;
    }

    button {
      @include widthHeight(28px);

      mat-icon {
        font-size: 16px;
      }
    }
  }
}
