@import "src/assets/style/variables";

.mat-list-base {
  @include border-top;
  padding-top: 0;
}

.mat-list-base .mat-list-item {
  height: 40px;

}

.mat-list-base .mat-list-item .mat-list-item-content {
  @include padding(0 20px);
}

@media(max-width: $mobile) {
  mat-list {
    width: 100%;
  }

  .mat-list-base .mat-list-item .mat-list-item-content {
    @include padding(0 16px);
  }
}
