<div
  class="header"
  fxFlexFill
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <button class="header__btn-burger btn-transparent" (click)="openMenu()">
    <img width="20" height="20" alt="burger" src="assets/icons/burger.svg" />
  </button>
  <img class="logo" alt="logo" src="assets/images/logo.svg" />
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="54px"
    fxLayoutGap.xs="0"
  >
    <app-search></app-search>
    <app-actions></app-actions>
  </div>
</div>
