<div class="actions">
  <div fxFlexAlign="center" fxLayout="row nowrap" fxLayoutGap="8px">
    <button class="actions__btn btn-transparent">
      <img
        width="20"
        height="20"
        alt="bell"
        fxFlexAlign="center"
        src="assets/icons/bell.svg"
      />
    </button>
    <button class="actions__btn btn-transparent">
      <img
        width="20"
        height="20"
        alt="message"
        src="assets/icons/message.svg"
      />
    </button>
    <button class="actions__btn btn-transparent">
      <img width="20" height="20" alt="exit" src="assets/icons/exit.svg" />
    </button>
  </div>
</div>
