@import "../assets/style/variables";

.content {
  height: 100vh;

  &__main {
    height: calc(100vh - 68px);
  }

  &__information {
    overflow: auto;
  }

  &__menu {
    position: relative;
    z-index: 1000;
  }
}

@media screen and (max-width: $mobile) {
  .content__menu {
    display: none;
  }
}
