@import "../assets/style/variables";

.content {
  height: 100vh;

  &__main {
    height: calc(100vh - 68px);
  }
}

.main-content {
  overflow: auto;
}

.menu {
  position: relative;
  z-index: 1000;
}

@media screen and (max-width: $mobile) {
  .menu {
    display: none;
  }
}
