@import "../../../../../assets/style/variables";

:host {
  width: 100%;

  ::ng-deep {
    .mat-form-field-underline {
      display: none;
    }
    .mat-form-field-wrapper {
      padding-bottom: 0;
      .mat-form-field-appearance-fill {
        background-color: rgba(0, 0, 0, 0);
      }
    }
    .mat-form-field-appearance-fill .mat-form-field-flex {
      background-color: $blueGrey800;
      border-radius: 8px;
    }
    .mat-form-field-appearance-fill {
      width: 490px;
      padding: 6px 0;
      background: none;

      &.mat-focused {
        background: none;
      }

      .mat-form-field-flex {
        padding: 0;
      }
    }

    .mat-form-field-prefix {
      padding: 0 10px;
    }

    .mat-input-element {
      padding: 0 0 2px;
      font-size: 14px;

      &,
      &::placeholder {
        color: #b0b6c2;
      }
    }
  }

  .icon-white {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7487%)
      hue-rotate(187deg) brightness(100%) contrast(103%);
  }
}

@media screen and (max-width: 1024px) {
  ::ng-deep {
    .mat-form-field-appearance-fill {
      max-width: 300px;
    }
  }
}

@media screen and (max-width: $mobile) {
  ::ng-deep {
    .mat-form-field-appearance-fill {
      max-width: 200px;
    }
  }
}

@media screen and (max-width: $mobile) {
  div.actions {
    display: none;
  }
}
