<section *ngIf="!isTabHide" class="payment-plan">
  <app-table-header
    [isTabCollapse]="isTabCollapse"
    [title]="title"
    (closeTab)="onCloseTap($event)"
    (changeTabDisplay)="onChangeTabCollapse($event)"
  ></app-table-header>
  <div [@collapseTableTab]="isTabCollapse">
    <app-table [config]="config">
      <div footer >
       <ng-content *ngTemplateOutlet="footer"></ng-content>
      </div>
    </app-table>

    <div class="mobile">
      <div *ngFor="let data of config.dataSource" class="plan">
        <mat-list
          role="list"
          *ngFor="let column of config.columns"
          fxLayout="row"
          fxLayoutAlign="space-between center"
        >
          <mat-list-item class="title-S" role="listitem">{{
            column.header
          }}</mat-list-item>
          <mat-list-item class="body-M" role="listitem" fxLayoutAlign="end">{{
            data[column.columnDef]
          }}</mat-list-item>
        </mat-list>
      </div>
      <ng-content *ngTemplateOutlet="footer"></ng-content>
    </div>
  </div>
</section>

<ng-template #footer>
  <div class="footer">
    <mat-list
      role="list"
      *ngFor="let fData of footerData"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <mat-list-item class="title-S" role="listitem">{{
        fData.totalName
      }}</mat-list-item>
      <mat-list-item class="title-S" role="listitem" fxLayoutAlign="end">
        {{
          isNumber(fData.totalValue)
            ? (fData.totalValue | currency)
            : fData.totalValue
        }}
      </mat-list-item>
    </mat-list>
  </div>
</ng-template>