<section *ngIf="!isTabHide">
  <app-table-header
    [isTabCollapse]="isTabCollapse"
    [title]="title"
    (closeTab)="onCloseTap($event)"
    (changeTabDisplay)="onChangeTabCollapse($event)"
  >
  </app-table-header>
  <div class="table-content" [@collapseTableTab]="isTabCollapse">
    <app-items-list [items]="reccuringPayments"></app-items-list>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-flat-button class="title-S" color="primary">Pay Now</button>
    </div>
  </div>
</section>
