<div class="main-container">
  <div class="desktop">
    <div class="header" fxLayout="row" fxLayoutAlign="space-between">
      <p class="title-XXL">{{ title }}</p>
      <app-widgets></app-widgets>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="16px">
      <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
        <app-profile></app-profile>
        <div fxFlex fxLayout="column" fxLayoutAlign="start" fxLayoutGap="16px">
          <app-statistics></app-statistics>
          <div fxFlex fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <app-degree-progress></app-degree-progress>
            <app-balance></app-balance>
          </div>
          <div fxFlex fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <app-announcements></app-announcements>
            <app-meeting></app-meeting>
          </div>
        </div>
      </div>
      <div cdkDropListGroup fxLayout="row" fxLayoutGap="16px">
        <div class="width-100" fxLayoutAlign="start">
          <div
            fxLayout="column"
            fxFill
            cdkDropList
            [cdkDropListData]="firstColumn"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="main-container__table"
              *ngFor="let component of firstColumn"
              cdkDrag
            >
              <ng-container *ngComponentOutlet="component"></ng-container>
            </div>
          </div>
        </div>
        <div class="width-100" fxLayoutAlign="start">
          <div
            cdkDropList
            fxFill
            [cdkDropListData]="secondColumn"
            fxLayout="column"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="main-container__table"
              *ngFor="let component of secondColumn"
              cdkDrag
            >
              <ng-container *ngComponentOutlet="component"></ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile">
    <p class="title-XXL">{{ title }}</p>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="16px">
      <app-profile></app-profile>
      <app-statistics></app-statistics>
      <app-degree-progress></app-degree-progress>
      <app-balance></app-balance>
      <app-announcements></app-announcements>
      <app-meeting></app-meeting>
      <app-widgets></app-widgets>
      <div cdkDropListGroup fxLayout="column">
        <div class="width-100" fxLayoutAlign="start">
          <div
            cdkDropList
            [cdkDropListData]="firstColumn"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="main-container__table"
              *ngFor="let component of firstColumn"
              cdkDrag
            >
              <ng-container *ngComponentOutlet="component"></ng-container>
            </div>
          </div>
        </div>
        <div class="width-100" fxLayoutAlign="start">
          <div
            cdkDropList
            [cdkDropListData]="secondColumn"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="main-container__table"
              *ngFor="let component of secondColumn"
              cdkDrag
            >
              <ng-container *ngComponentOutlet="component"></ng-container>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>